body {    
    margin: 0 !important;
    padding: 0 !important;
    width: 0;
    height: 0;
}

#indexHeader {
    background-color: lightgray;
    width: 100%;
    height: 20%;
}

#indexForm {
    color:black;
    background-color: white;
    text-align: center;
}

#indexName {
    width: 100%;
    text-align: center;
}

#indexRoomID     {
    width: 100%;
    text-align: center;
}

#indexLogo {
    float: left ;
    width: 20%;
    height: 10%; 
}

#indexH1 {
    color: black;
    text-align: center;
    height: 50%;
    width: 50%;
    margin: auto;
    float: center;
    font-size: 10vw;
}

.indexButton {
    width: 30%;
    height: 20%;
    font-size: 5vw;
    display: inline-block;
    color: black;
    background-color: gray;
    border-color: black;
    border-width: 10px;
}

