<!DOCTYPE html>
    <html>
        <head>
            <title>WikiTrivia</title>
        </head>
        <body>
            <h1>WikiTrivia</h1>
            <p>Hello {{playerName}}!</p>
            <label for="Topics"><b>Name</b></label>
            <input type="text" placeholder="Enter Topics" name="topics" id="topics" required>
            <label for="Questions"><b>Name</b></label>
            <input type="text" placeholder="Enter Number of Questions" name="questions" id="questions" required>
            <button type="Host" class="joinBtn">Join</button>
            <button type="Solo" class="soloBtn">Play Solo</button>
        </body>
    </html> 