<!DOCTYPE html>
    <html>
        <head>
            <title>WikiTrivia</title>
        </head>
        <body>
            <h1>WikiTrivia</h1>
            <form action ="/" method="POST">
                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Enter Name" name="name" id="name" required>
                <input type="submit" name="type" value="Join"/>
                <input type="submit" name="type" value="Create"/>
            </form>
        </body>
    </html> 