<!DOCTYPE html>
    <html>
        <head>
            <title>WikiTrivia</title>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">        
        </head>
        <body>
            <h1>WikiTrivia</h1>
            <form action ="/" method="POST" id="indexForm">
                <div id = "indexName">
                    <label for="name" id="nameLabel"><b>Name</b></label>
                    <input type="text" placeholder="Enter Name" name="name" id="name" required>
                </div>
                <div id = "indexRoomID">
                    <label for="room" id="roomLabel"><b>RoomID</b></label>
                    <input type="text" placeholder="Enter RoomID" name="room" id="room" required>
                </div>
                <div id = "indexButtons">
                    <input type="submit" name="type" value="Join" class = "indexButton"/>
                    <input type="submit" name="type" value="Create" class = "indexButton"/>
                </div>
            </form>
        </body>
    </html> 