<!DOCTYPE html>
    <html>
        <head>
            <title>WikiTrivia</title>
        </head>
        <body>
            <h1>WikiTrivia</h1>
            <p>Hello {{playerName}}!</p>

            <form action ="/join" method="POST">
                <label for="room"><b>RoomID</b></label>
                <input type="text" placeholder="Enter RoomID" name="room" id="room" required>
                <input type="submit" name="joinroom" value="Join Room"/>
            </form>

        </body>
    </html>