<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/play.css') }}">  
            <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
            <title>WikiTrivia</title>
        </head>
        <body>
            <div id = "playScreen"> 
                <div id = "question">
                    <p id="questionText">This is a question? This is a question? This is a question? This is a question? This is a question? This is a question? This is a question? This is a question? This is a question? This is a question? This is a question? This is a question? This is a question? This is a question? This is a question? This is a question? This is a question?
                        This is a question? This is a question? This is a question? This is a question?
                    </p>
                </div>
                <div id = "answers">
                    <div id = "topAnswers">
                        <button id="answer1" class="answerButton" onclick="lol()">Answer 1</button>
                        <button id="answer2" class="answerButton" onclick="sendAnswer()">Answer 2</button>
                    </div>
                    <div id = "bottomAnswers">
                        <button id="answer3" class="answerButton" onclick="sendAnswer()">Answer 3</button>
                        <button id="answer4" class="answerButton" onclick="sendAnswer()">Answer 4</button>
                    </div>
                </div>
            </div>

            <div id = "playerList">
                <h2 style="margin: 0 0 0 0;">Players:</h2>
                lol
            </div>
            <div id= "menu">
            </div>
        </body>
        <script src="{{ url_for('static', filename='js/play.js') }}"></script>       
    </html>